body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    padding: 40px 0;
    color: white;
    background-color: #262626;
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.1) inset;
}

#logo {
    height: 120px;
    margin: auto;
}

#logotext {
    display: inline-block;
}

#navBar {
    position: static;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

#pushBack {
    height: 0;
    margin: 0;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    color: white;
    background-color: #262626;
}

nav li {
    display: inline-block;
}

nav a,
nav a:active {
    display: block;
    width: 12em;
    padding: 1em 0;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    background-color: #d35400;
}

nav .handle {
    display: none;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em 2em;
    text-align: left;
    color: white;
    background-color: #262626;
    cursor: pointer;
}

section {
    position: relative;
    margin: 0 auto;
    padding: 2em;
    max-width: 60em;
}

#formulaire {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#login-header,
#inscription-header {
    margin-bottom: 3%;
    padding: 4%;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    background: #d35400;
}

#login-container,
#inscription-container {
    padding: 3%;
    background: #ebebeb;
}

/* Pour toutes les balises "p" */

#formulaire li {
    padding: 2%;
    list-style: none;
}

/* Pour tous les "inputs" */

#formulaire input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    border-style: solid;
    border-width: 1px;
    outline: 0;
}

/* Champ déselectionné */

#formulaire input[type="email"],
#formulaire input[type="pseudo"],
#formulaire input[type="password"] {
    border-color: #bbb;
    color: #555;
    background: #fff;
}

/* Champ selectionné */

#formulaire input[type="email"]:focus,
#formulaire input[type="pseudo"]:focus,
#formulaire input[type="password"]:focus {
    border-color: #888;
}

/* Bouton déselectionné */

#formulaire input[type="submit"] {
    border-color: transparent;
    color: #fff;
    background: #262626;
    cursor: pointer;
}

/* Bouton survolé */

#formulaire input[type="submit"]:hover {
    background: #d35400;
}

#formulaire-login {
    width: 50%;
    margin-left: 25%;
    vertical-align: top;
}

#formulaire-inscription {
    width: 50%;
    margin-left: 25%;
    vertical-align: top;
}

:invalid {
    border-color: #e88;
    background-color: #F0DDDD;
    -webkit-box-shadow: 0 0 5px rgba(255,0,0,.8);
    -moz-box-shadow: 0 0 5px rbba(255,0,0,.8);
    box-shadow: 0 0 5px rgba(255,0,0,.8);
    -o-box-shadow: 0 0 5px rbba(255,0,0,.8);
    -ms-box-shadow: 0 0 5px rbba(255,0,0,.8);
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

.containertest {
    width: 1024px;
    padding: 2em;
}

.bold-blue {
    font-weight: bold;
    color: #0277BD;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 8px;
    padding-bottom: 1%;
    color: grey;
    background-color: #262626;
}

/*Tableaux*/

table {
    margin: 25px auto;
    border: 1px solid #eee;
    border-collapse: collapse;
    border-bottom: 2px solid #d35400;
    font-family: 'Arial';
    box-shadow: 0 0 20px rgba(0,0,0,0.1) ,0 10px 20px rgba(0,0,0,0.05) ,0 20px 20px rgba(0,0,0,0.05) ,0 30px 20px rgba(0,0,0,0.05);
}

table tr:hover {
    background: #f4f4f4;
}

table tr:hover td {
    color: #555;
}

table th,
table td {
    padding: 12px 35px;
    border: 1px solid #eee;
    border-collapse: collapse;
    color: #999;
}

table th {
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    background: #d35400;
}

table th.last {
    border-right: none;
}

/********************************************************************/

@media only screen and (max-width:580px) {
    nav .handle {
        display: block;
    }

    nav li {
        box-sizing: border-box;
        width: 100%;
        padding: 0;
    }

    nav a {
        box-sizing: border-box;
        width: 100%;
        padding: 1em 2em;
        text-align: left;
    }

    nav ul {
        position: relative;
        max-height: 0;
    }

    nav ul.showing {
        max-height: 20em;
    }

    #formulaire-inscription {
        width: 80%;
        margin-left: 10%;
    }

    #formulaire-login {
        width: 80%;
        margin-left: 10%;
    }
}
